<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^js/(.*)$ public/js/$1 [L]
    RewriteRule ^css/(.*)$ public/css/$1 [L]
    RewriteRule . index.php [L]
</IfModule>
